/* generic selector makes all padding and margin O */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* makes everything within body tags background color white */
body {
    background-color: #d9dcd6;
}

/* makes header have padding 20px, font family to Trenuchet,
 background to blue and font color white  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* makes header with header 1 tag inline with font size 48px */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changed the header nav top padding to 15px, added 20px margin to the right 
 made nav section move to the right, chaged font type and font size */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removed the bullets points on the list for nav to none */
nav ul {
    list-style-type: none;
}

/* made nav li wordsinline with space in between by adding margin to the left
of the words in nav*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* made the a href links white and removed all decorations to the links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* all paragraph fonts to 16px */
p {
    font-size: 16px;
}

/* class with hero to have the height,width and margin bottom units changed 
to below numbers. Made image with linked as background image. Made background 
the size of a cover and centered it. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

 
/* made text and paragraph for image float left. Added margin to right */
.float-left {
    float: left;
    margin-right: 25px;
}

 /* made text and paragraph for image float right. Added margin to left */
.float-right {
    float: right;
    margin-left: 25px;
}

 /* added additional width and margin to class content */
.content {
    width: 75%;
    display: inline-block;
}

 /* changes aside to have a margin-right, padding, width, height, font family float, 
 blue background color. moved text underneath gear icon */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* adding a bottom margin and a with text color to benefit-lead class */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

 /* adding a bottom margin and aligning the text to benefit class with h3 heading */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

 /* making an icon a display that is in a block with margin all around,
  and limiting the icon width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* adds margin, padding, height, family-font background color 
and color to class below */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* adds margin, padding, height, family-font background color 
and color to class below */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* adds margin, padding, height, family-font style, background color 
and text color to class below */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* made search-engine-optimizatio class image max height 200px */
.search-engine-optimization img {
    max-height: 200px;
}


/* made online-reputation-manage class image max height 200px */
.online-reputation-management img {
    max-height: 200px;
}


/*made social-media-marketing class image max height 200px  */
.social-media-marketing img {
    max-height: 200px;
}

/* adds a bottom margin of 20px and makes 
font sizes 36px for any class search-engine-optimization
and a heading tag of size h2   */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* adds a bottom margin of 20px and makes 
font sizes 36px for any class online-reputation-management
and a heading tag of size h2   */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* adds a bottom margin of 20px and makes 
font sizes 36px for any class social-media-marketing
and a heading tag of size h2   */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* add padding , clear, font-family, and text align to footer below */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* on the footer tag change the h2 tag font size to footer h2 below */
footer h2 {
    font-size: 20px;
}